<!-- content body -->
<div class="">
  <!-- loop books and show them on the template -->
  <div
    class="mt-5 grid grid-cols-1 gap-5 lg:grid-cols-2 lg:gap-8 md:pr-10 md:pl-10"
  >
    <div *ngFor="let book of getPaginatedBook()">
      <div
        class="lg:mx-0 md:mx-0 md:pb-0 pb-5 mx-5 flex flex-col justify-center items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row lg:hover:bg-gray-100"
      >
        <img
          class="h-80 object-cover rounded-t-lg md:h-auto md:rounded-none md:rounded-l-lg"
          src="http://localhost:8080/images/{{ book.image }}"
          alt=""
        />

        <div
          class="md:pl-0 w-full lg:px-0 px-5 text-justify lg:flex lg:flex-col lg:justify-between lg:pr-10 lg:leading-normal lg:w-2/3"
        >
          <h5 class="text-blueText truncate mb-2 text-2xl tracking-tight">
            {{ book.bookTitle | titlecase }}
          </h5>

          <p class="text-authorText truncate">
            {{ book.author | uppercase }}
          </p>

          <p class="line-clamp-3 mb-3 font-light text-gray-700 md:pr-5">
            {{ book.description }}
          </p>

          <div class="font-light text-blueText flex">
            <!-- button view details -->
            <button
              (click)="getBookById(book.book_id)"
              class="rounded-lg border border-readNowBorder py-1.5 px-5 text-yellow-500 hover:bg-yellow-100"
            >
              View
            </button>

            <!-- button edit book by id -->
            <button
              appAccessControl
              class="rounded-lg border border-blue-600 py-1.5 px-5 mx-3 hover:bg-blue-100"
            >
              <a [routerLink]="['/editBook', book.book_id]">Edit</a>
            </button>

            <!-- button delete book by id -->
            <button
              appAccessControl
              onclick="my_modal_1.showModal()"
              (click)="setQueryParams(book.book_id)"
              class="rounded-lg border border-red-600 py-1.5 px-5 text-red-500 hover:bg-red-100"
            >
              <p>Delete</p>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <ngx-pagination [totalItems]></ngx-pagination> -->
  </div>
</div>

<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Confirm Deletion</h3>
    <p class="py-4">
      Are you sure you would like to delete this book? This action cannot be
      undone.
    </p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button
          class="btn bg-red-500 text-white hover:bg-red-600"
          (click)="deleteBookById()"
        >
          Delete
        </button>
        <button class="btn ml-2">Cancel</button>
      </form>
    </div>
  </div>
</dialog>
