<div>
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div
      class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3"
    >
      <div class="flex justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-20 h-20 text-blue-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M12 14l9-5-9-5-9 5 9 5z" />
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          />
        </svg>
      </div>
      <h3 class="text-2xl font-bold text-center">Join us</h3>

      <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
        <div class="mt-4">
          <div>
            <label class="block" for="Name">Name</label>
            <input
              type="text"
              placeholder="Monster"
              formControlName="readerName"
              [ngClass]="{
                'w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600': true,
                'focus:ring-red-600 border-red-600':
                  registerForm.get('readerName')?.touched &&
                  registerForm.get('readerName')?.invalid &&
                  registerForm.get('readerName')?.errors?.['required']
              }"
            />
          </div>

          <div *ngIf="registerForm.get('readerName')?.invalid">
            <div
              *ngIf="registerForm.get('readerName')?.touched && registerForm.get('readerName')?.errors?.['required']"
            >
              <p class="text-red-600">This field is required.</p>
            </div>
          </div>

          <div class="mt-4">
            <label class="block" for="email">Email</label>
            <input
              type="text"
              placeholder="monster@gmail.com"
              formControlName="email"
              [ngClass]="{
                'w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600': true,
                'focus:ring-red-600 border-red-600' :
                  registerForm.get('email')?.touched &&
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.errors?.['required'] ||
                  registerForm.get('email')?.errors?.['email']
              }"
            />
          </div>

          <div *ngIf="registerForm.get('email')?.invalid">
            <div
              *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
            >
              <p class="text-red-600">This field is required.</p>
            </div>

            <div
              *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']"
            >
              <p class="text-red-600">Email is invalid.</p>
            </div>
          </div>

          <div class="mt-4">
            <label class="block">Password</label>
            <input
              type="password"
              placeholder="******"
              formControlName="password"
              [ngClass]="{
                'w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600': true,
                'focus:ring-red-600 border-red-600' :
                  registerForm.get('password')?.touched &&
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.errors?.['required'] ||
                  registerForm.get('password')?.errors?.['minlength'] || 
                  registerForm.get('password')?.errors?.['maxlength']
              }"
            />
          </div>

          <div *ngIf="registerForm.get('password')?.invalid">
            <div
              *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']"
            >
              <p class="text-red-600">This field is required.</p>
            </div>

            <div
              *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength'] || registerForm.get('password')?.errors?.['maxlength']"
            >
              <p class="text-red-600">
                The password should be in range 3 to 8 letters.
              </p>
            </div>
          </div>

          <!-- <div class="mt-4">
                        <label class="block">Confirm Password</label>
                        <input type="password" placeholder="******"
                            class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div> -->
          <!-- <span class="text-xs text-red-400">Password must be same!</span> -->
          <div class="mt-4">
            <label
              [ngClass]="{'text-red-600' : registerForm.get('role')?.invalid && registerForm.get('role')?.errors?.['required']}"
              >Role</label
            >
            <div class="flex justify-evenly">
              <div>
                <input
                  type="radio"
                  value="Author"
                  id="author"
                  formControlName="role"
                />
                <label for="author" class="pl-1">Author</label>
              </div>
              <div>
                <input
                  type="radio"
                  value="Reader"
                  id="reader"
                  formControlName="role"
                />
                <label for="reader" class="pl-1">Reader</label><br />
              </div>
            </div>
          </div>

          <div class="flex">
            <button
              [disabled]="registerForm.invalid"
              type="submit"
              class="w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
            >
              Register
            </button>
          </div>
          <div class="mt-6 text-grey-dark">
            Already have an account?
            <a class="text-blue-600 hover:underline" href="#"> Log in </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
