  <!-- navbar
  <div class="flex justify-between items-center font-medium container mx-auto">
    <h1>Task <span>Zone</span></h1>

    <div>
      <ul class="flex gap-5">
        <li>
          <a
            routerLink="/login-component"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>

        <li>
          <a
            routerLink="/signup-component"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Sign Up</a
          >
        </li>
      </ul>
    </div>
  </div> -->