<div
  class="w-96 flex flex-col rounded-lg border-2 overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
>
  <div class="flex items-center justify-between p-5">
    <h5>Create Category</h5>
    <div>
      <img src="../../../assets/images/cancel.png" class="w-5" />
    </div>
  </div>

  <div>
    <hr class="w-full" />
    <div class="px-5 mt-3">
      <label for="name">Name</label> <br />
      <input
        type="text"
        name="categoryName"
        id="categoryName"
        placeholder="category name"
      />

      <button class="text-lg">Create</button>
    </div>
  </div>
</div>
