input {
  border-radius: 5px;
  border: 1px solid var(--default-gray-300, #d1d5db);
  background: var(--default-white, #fff);
  width: 100%;
  height: 54px;
  padding: 12px 20px;
  font-size: 20px;
}
