<!-- <p>home works! {{ email }}</p>
<button (click)="logout()">Log out</button> <br />

<a
  href="http://localhost:9900/auth/realms/angular-project/protocol/openid-connect/logout?redirect_uri=http://localhost:4200/"
  >Logout from google keycloak</a
> -->

<div class="w-full h-screen">
  <div class="flex justify-between">
    <div
      class="md:w-full md:pt-10 md:pl-10 md:flex md:flex-col md:justify-center lg:pt-0 lg:pl-40"
    >
      <div
        class="uppercase lg:text-[75px] md:text-3xl hidden md:block lg:block"
      >
        <p class="lg:pb-14">read and add</p>
        <p class="lg:pb-10">your insight</p>
      </div>

      <p class="capitalize font-light lg:text-[30px] hidden md:block lg:block">
        find your favorite book and read it here for free
      </p>
    </div>

    <div class="hidden md:block">
      <img
        src="../../../assets/images/svg/Image Hero.svg"
        alt=""
        class="md:w-full lg:w-[1280px]"
      />
    </div>
  </div>

  <!-- book content -->
  <div class="pt-12 md:pt-0 lg:pt-0">
    <div class="bg-contentBg lg:pt-5">
      <div
        class="mx-auto md:w-full lg:w-[80%] lg:rounded-lg lg:shadow-lg lg:pb-10 md:pb-10 pb-5"
      >
        <div>
          <p
            class="mt-5 pt-5 lg:pt-0 text-lg md:text-3xl lg:text-4xl capitalize text-center"
          >
            new interesting story books
          </p>
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
