<!-- <p>home works! {{ email }}</p>
<button (click)="logout()">Log out</button> <br />

<a
  href="http://localhost:9900/auth/realms/angular-project/protocol/openid-connect/logout?redirect_uri=http://localhost:4200/"
  >Logout from google keycloak</a
> -->

<div class="w-full h-screen">
  <div class="flex justify-between">
    <div class="lg:pt-40 lg:pl-40">
      <div class="uppercase text-[60px] hidden lg:block">
        <p>read and add</p>
        <p>your insight</p>
      </div>

      <p class="capitalize font-light lg:text-[25px] hidden lg:block">
        find your favorite book and read it here for free
      </p>
    </div>

    <div class="hidden md:block">
      <img src="../../../assets/images/svg/Header.svg" alt="" />
    </div>
  </div>

  <!-- book content -->
  <div class="pt-12 lg:pt-0">
    <div class="bg-contentBg lg:pt-5">
      <div class="mx-auto lg:w-[80%] lg:rounded-lg lg:shadow-lg lg:px-20 pb-10">
        <div>
          <p class="mt-5 pt-5 text-lg lg:text-4xl capitalize text-center">
            new interesting story books
          </p>
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
