<div class="h-screen flex flex-col justify-between">
  <!-- navbar -->
  <div class="flex justify-between items-center font-medium container mx-auto">
    <h1>Task <span>Zone</span></h1>

    <div>
      <ul class="flex gap-5">
        <li>
          <a
            routerLink="/login-component"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>

        <li>
          <a
            routerLink="/signup-component"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Sign Up</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="grid grid-cols-2 items-center mt-10 container mx-auto">
    <div>
      <img src="../../../../assets/images/todo-list.jpg" class="rounded-lg" />
    </div>
    <div class="text-6xl leading-relaxed ml-20 font-medium">
      The <span>fastest</span> way to <span>complete</span> your tasks web apps
    </div>
  </div>

  <!-- footer -->
  <div class="bg-primary text-white mt-16">
    <div class="flex justify-center gap-5 mt-5">
      <p>Home</p>
      <p>About Us</p>
      <p>Docs</p>
    </div>

    <div class="flex justify-center gap-5 mt-5">
      <img
        src="../../../../assets/images/svg/icons8-twitter (1).svg"
        class="w-8 h-auto"
      />

      <img
        src="../../../../assets/images/icons8-youtube-96.png"
        class="w-8 h-8"
      />

      <img
        src="../../../../assets/images/svg/icons8-facebook (2).svg"
        class="w-8 h-8"
      />
    </div>

    <div class="text-center mt-5 mb-5">
      <p>Copyright © 2023 - All right reserved by Monster</p>
    </div>
  </div>
</div>
