<div class="container">
  <h1>Catogories</h1>

  <div class="flex mt-5 gap-5">
    <!-- create category -->
    <div
      class="w-72 border-2 rounded-lg text-center h-28 shadow-md cursor-pointer"
      (click)="setIsCategoryPopup()"
    >
      <h5>Create Category</h5>
      <img src="../../../assets/images/svg/Vector.svg" class="mx-auto" />
    </div>

    <!-- each card -->
    <div
      class="relative w-72 border-2 rounded-lg h-28 shadow-md pl-5 flex items-center"
    >
      <div class="h-24 bg-primary rounded-md w-2"></div>
      <div>
        <p>RUPP Task</p>
        <p class="created-text">Created: Mar, 8, 2022</p>
      </div>

      <img
        src="../../../assets/images/svg/Icon.svg"
        class="absolute right-3 top-3"
      />
    </div>
  </div>
</div>

<app-category-popup *ngIf="isCategoryPopup"></app-category-popup>
