<div class="container">
  <h1>Catogories</h1>

  <div class="flex mt-5 gap-5 flex-wrap">
    <!-- create category -->
    <div
      class="w-72 border-2 rounded-lg text-center h-28 shadow-md cursor-pointer"
      (click)="setIsPopup()"
    >
      <h5>Create Category</h5>
      <img src="../../../assets/images/svg/Vector.svg" class="mx-auto" />
    </div>

    <!-- each card -->
    <div
      class="relative w-72 border-2 rounded-lg h-28 shadow-md pl-3 flex items-center"
      *ngFor="let category of category$ | async"
    >
      <div class="h-24 bg-primary rounded-md w-2"></div>
      <div>
        <p>{{ category.categoryName }}</p>
        <p class="created-text">Created: {{ formattedDate(category.date) }}</p>
      </div>

      <img
        src="../../../assets/images/svg/Icon.svg"
        class="absolute right-3 top-3"
      />
    </div>
  </div>
</div>

<app-category-popup *ngIf="isPopup" [onClose]="setIsPopup"></app-category-popup>
<div *ngIf="isPopup" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
