<div class="grid grid-cols-2 h-screen">
  <div class="col-span-1 flex flex-col justify-center w-1/2 mx-auto">
    <h1>Welcome back !</h1>
    <p>Welcome back ! Please enter your details</p>

    <form (ngSubmit)="handleSubmitUser($event)" [formGroup]="userForm">
      <div class="mt-10">
        <label>email</label>
        <input
          type="email"
          placeholder="ex@gmail.com"
          class="mb-2 focus:outline-none focus:border-2 focus:border-primary"
          formControlName="email"
          required
        />
        <!-- <p>{{ user | json }}</p> -->
        <!-- <p *ngIf="user.errors?.['required']" class="text-red-500">
          Email is required
        </p> -->
        <div
          *ngIf="email && email.invalid && email.touched"
          class="text-red-600 mb-5"
        >
          Email is invalid. Please check it again.
        </div>

        <!-- <div
          *ngIf="
            user.controls['email'].invalid &&
            (user.controls['email'].dirty || user.controls['email'].touched)
          "
        >
          <div *ngIf="user.controls['email'].errors?.['required']">
            Email is required
          </div>
        </div> -->

        <label>password</label>
        <input
          type="password"
          placeholder="password"
          class="mb-2 focus:outline-none focus:border-2 focus:border-primary"
          formControlName="password"
          required
        />

        <!-- <div *ngIf="password && password.invalid && password.touched" class="text-red-600 mb-5">Must contain at least 8 characters, one uppercase,lowercase, and one number</div> -->
        <div
          *ngIf="password && password.invalid && password.touched"
          class="text-red-600 mb-5"
        >
          Must contain at least 8 characters, one uppercase,lowercase, and one
          number
        </div>

        <!-- <p>Value : {{ user.value | json }}</p>
        <p>Status : {{ user.status | json }}</p> -->
        <!-- <input type="submit" class="mb-5" value="Log In" /> -->
        <!-- <p>Log In</p>
      </input> -->

        <button
          type="submit"
          class="mb-5"
          value="Log In"
          [disabled]="userForm.invalid"
        >
          <p>Log In</p>
        </button>
      </div>

      <p class="text-center">
        Don't have an account?
        <a class="text-customBlue" routerLink="/signup-component">Sign up</a>
      </p>
    </form>
  </div>

  <div class="col-span-1 flex justify-center items-center">
    <img src="../../../assets/images/Mobile.png" />
  </div>
</div>
