span {
  color: #4ecdc4;
  font-weight: bold;
}

h1 {
  font-size : 50px;
  padding-left : 48px;
}

h3 {
  font-size: 32px;
  padding-top: 15px;
}

p {
  padding-left: 15px;
  font-size: 24px;

}

.sidebar-bg {
  background-color: #effaf9;
}
