<div class="lg:h-[130vh] h-auto">
  <div
    class="bg-no-repeat w-full bg-cover lg:h-[500px] relative"
    style="
      background-image: url('../../../assets/images/svg/Add\ Book\ Header.svg');
    "
  >
    <div class="py-5 md:w-full md:pl-10 lg:pt-10 lg:pl-24 w-10 lg:py-0">
      <a routerLink="/bookList">
        <img src="../../../assets/images/svg/Button.svg" alt="" />
      </a>
    </div>
    <div
      class="bg-contentBg md:mt-12 md:mx-auto md:w-[80%] lg:w-2/3 lg:absolute lg:z-10 lg:top-44 lg:left-[300px] rounded-xl pb-10"
    >
      <p class="capitalize text-2xl md:text-3xl lg:text-4xl text-center pt-5 lg:pt-10">
        {{ title }}
      </p>
      <form [formGroup]="bookForm" (ngSubmit)="submitBook()">
        <div class="grid grid-cols-1 lg:grid-cols-3 lg:mt-8">
          <!-- upload image -->
          <div class="lg:col-span-1 flex justify-center items-center">
            <!-- select file image -->
            <div>
              <input
                type="file"
                accept="image/*"
                (change)="showPreview($event)"
                class="file-upload"
                #fileUplaod
              />

              <ng-template
                [ngIf]="imageUrl && imageUrl !== ''"
                [ngIfElse]="sampleImage"
              >
                <img
                  [src]="imageUrl"
                  [alt]="bookForm.value.name"
                  (click)="fileUplaod.click()"
                  class="cursor-pointer"
                />
              </ng-template>

              <ng-template #sampleImage>
                <ng-container *ngIf="!tempBook">
                  <img
                    src="../../../assets/images/svg/{{ defaultImage }}"
                    (click)="fileUplaod.click()"
                    class="cursor-pointer"
                  />
                </ng-container>

                <ng-container *ngIf="tempBook">
                  <img
                    src="http://localhost:8080/images/{{ tempBook.image }}"
                    (click)="fileUplaod.click()"
                    class="cursor-pointer"
                  />
                </ng-container>
              </ng-template>
            </div>
            <!--   
              <img
                src="../../../assets/images/book cover/{{ defaultImage }}"
                class="w-44 border rounded-lg ml-10"
              /> -->
          </div>

          <div class="mx-5 lg:col-span-2 lg:ml-10">
            <!-- title -->
            <label for="title" class="text-xl lg:text-2xl">Title </label> <br />
            <input
              type="text"
              formControlName="bookTitle"
              placeholder="Enter Title"
              class="lg:text-lg lg:py-3 lg:w-2/3 pl-5 py-2 w-full text-sm rounded-lg font-light capitalize mb-3 focus:outline-none focus:border-blue-500"
            />
            <br />

            <div *ngIf="form['bookTitle'].invalid">
              <p
                class="mb-3 text-red-500 lg:text-lg"
                *ngIf="
                  form['bookTitle'].touched &&
                  bookForm.get('bookTitle')?.errors?.['required']
                "
              >
                Book Title is required
              </p>
            </div>

            <!-- author -->
            <label for="author" class="text-xl lg:text-2xl">Author</label>
            <br />
            <input
              type="text"
              formControlName="author"
              placeholder="Enter Author Name"
              class="lg:text-lg lg:py-3 lg:w-2/3 pl-5 py-2 w-full text-sm rounded-lg font-light capitalize mb-3 focus:outline-none focus:border-blue-500"
            />
            <br />

            <div *ngIf="form['author'].invalid">
              <p
                class="mb-3 text-red-500 lg:text-lg"
                *ngIf="
                  form['author'].touched &&
                  bookForm.get('author')?.errors?.['required']
                "
              >
                Author is required
              </p>
            </div>

            <!-- select category -->
            <label for="category" class="text-xl lg:text-2xl">Category </label> <br />
            <div class="grid grid-cols-2 lg:grid-cols-3">
              <div
                class="flex items-center"
                *ngFor="
                  let category of bookCategory$ | filterUniqueCategory;
                  let i = index
                "
              >
                <input
                  type="checkbox"
                  class="lg:w-5 lg:h-5"
                  [value]="category.categoryId"
                  (change)="handleMultipleCategoriesCheck($event)"
                  [checked]="bookCate$.includes(category.categoryId)"
                />
                <p class="pl-2 capitalize lg:text-xl font-light py-1">
                  {{ category.categoryName }}
                </p>
              </div>
            </div>

            <!-- <select formControlName="category">
              <option value="" selected class="font-light">
                Choose Category
              </option>
              <option
                  *ngFor="let bookCategory of allBooks" 
                >
                  {{ bookCategory.category | titlecase }}
                </option>
              <option *ngFor="let category of bookCategory$ | async">
                  {{ category | titlecase }}
                </option>
            </select> -->

            <br />
          </div>
        </div>

        <!-- description -->
        <div class="lg:px-20 px-5">
          <label for="description" class="text-xl lg:text-2xl">Description </label> <br />
          <textarea
            type="text"
            formControlName="description"
            placeholder="Enter a description"
            class="lg:text-lg lg:h-64 font-light w-full h-32 px-5 pt-2 rounded-lg"
          ></textarea>
          <br />

          <div *ngIf="form['description'].invalid">
            <p
              class="mb-3 text-red-500 lg:text-lg"
              *ngIf="
                form['description'].touched &&
                bookForm.get('description')?.errors?.['required']
              "
            >
              Description is required
            </p>
          </div>
        </div>

        <div class="px-5 lg:px-20">
          <!-- button add -->
          <button
            [disabled]="bookForm.invalid"
            type="submit"
            class="lg:text-lg mt-2 py-2 px-8 rounded-xl bg-btnYellow"
            *ngIf="!tempBook"
          >
            Create New Book
          </button>

          <button
            type="submit"
            class="lg:text-lg mt-2 py-2 px-8 rounded-xl bg-btnBg text-white"
            *ngIf="tempBook"
          >
            Update Book
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
